body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/Assets/9892501_4279652.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    backdrop-filter: sepia(0.5);
}

#rotation-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

#rotation-overlay img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
}

#canvas {
    display: block;
    background-color: black;
    border: black, solid;
    border-radius: 4px;
    border-width: 3px;
    
}

#controllBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 700px;
    /* height: 110px; */
    margin-top: 20px;
    background-color: #b7612799;
    padding: 15px;
    border-radius: 5px;
    border: solid 2px black;
    

}

#controllBox h2{
    color: black;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #f8c668;
    border: solid 1px black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #b76127;
    border-radius: 40%;
    cursor: pointer;
    border: 1px solid black;
}

.controlls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.control-items p{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.controllImg{
    width: 40px;
    height: 40px;
    align-content: center;
    padding-left: 15px;
}

/* #gameContainer {
    position: relative;
    width: 724px;
    height: 485px;
    margin: 0 auto;
    border: 3px solid #000;
    border-radius: 7px;
} */

.start-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-color: #994409;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.pause-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: #99450947;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.lost-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/game_over/game over.png");
    background-color: #99450947;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.won-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/9_intro_outro_screens/game-won/You won A.png");
    background-color: #99450947;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.start-game-button{
    background-color: #994509d6;
    color: #ff9e00;
    font-size: 24px;
    padding: 10px 20px;
    border: solid #b76127 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.resume-game-button{
    background-color: #994509d6;
    color: #ff9e00;
    font-size: 24px;
    padding: 10px 20px;
    border: solid #b76127 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

#fullscreen-btn {
    position:absolute;
    top:10px;
    right:10px;
    z-index:10;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fullscreen-icon {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

@media only screen and (max-width: 760px) {
 canvas {
     width: 100%;
     /* height: 100vh; */
 }
 #controllBox {
     display: none;
 }
}

@media only screen and (max-height: 600px) {
 canvas {
     height: 98vh;
     width: fit-content;
 }
  #controllBox {
     display: none;
 }
}